<% layout('layouts/boilerplate') %>
<script src = '/js/new_campground_validation.js' type= 'module'> </script>

<div class = 'bg-teal-800'>
  
<div class = "flex flex-col justify-center w-1/2 m-auto my-3 min-h-[607px] ">
  <h1 class = 'text-3xl m-auto text-purple-300'>Update Campground</h1>
  <hr class = 'mt-2 h-2'>
  <div class = 'mt-3'>
    <form method="POST" action='/campgrounds/<%=camp._id%>/?_method=PUT' novalidate id='form' enctype="multipart/form-data">

      <!--<%#if (camp.images.length !== 1){%>-->
      <!--<div class="">-->
      <div class="carousel  grid grid-cols-2 overflow-hidden ">
        <!-- Carousel items -->
        <!--<%#for (let image of camp.images){%>-->

        <% camp.images.forEach((img,i)  => {%>
        <div class = 'border-2 border-gray-300 my-2 p-2'>

          <div class="carousel-item <%= i === 0 ? 'active' : ''%> min-w-full ">
            <!--<img class = 'object-contain w-full h-auto ' src="<%#=image.url%>" alt="<%#=camp.title%>">-->
            <img class = 'w-full h-auto object-cover' src="<%=img.thumbnail%>" alt="<%=camp.title%>">
          </div>
          <div class = 'mt-3 text-black'>
            <input type="checkbox" id = 'image-<%=i%>' value="<%=img.filename%>" name='deletedImages[]'>
            <label class = 'text-purple-100 ' for="image-<%=i%>">Delete Image </label>
          </div>
        </div>
        <%})%>
      </div>
  </div>

  <div class = 'mt-2 flex space-x-4 inline'>
    <label class = 'mb-4 bg-yellow-300 px-3 py-1 rounded-md border-[1px] border-yellow-500 hover:bg-yellow-400 max-h-16' for="image">Add Images </label>
    <input class = 'hidden' type="file" name="image" id='image' multiple>
    <div id="imageCount" class="mt-2 text-gray-700"></div>
  </div>

  <div class = 'flex flex-col'>
    <div class="my-2 flex ">
      <label class = ' mr-2 pt-1 text-purple-200' for="title">Title : </label>
      <div class="flex grow items-center rounded-md bg-white bg-fuchsia-300 ">
        <input type="text" name="title" id="title" class=" rounded-md block min-w-0 grow py-1.5 pl-2 pr-3 text-base text-gray-900 placeholder:text-purple-800 focus:outline focus:outline-0 sm:text-sm/6 bg-fuchsia-300" placeholder="Name of the Campground" required title="Don't input a empty value" value = "<%= camp.title%>">
      </div>
    </div>
    <span class = 'text-red-500 pl-2 ' id = 'title_error'></span>
  </div>

  <div class = 'flex justify-between place-items-center my-3'>
    <div class = 'flex place-items-center'>
      <label class = 'text-purple-200 ' for="state">State : </label>
      <div class="mt-2 mx-2">
        <div class=" border-0 flex items-center rounded-md bg-fuchsia-300 bg-white ">
          <input type="text" name="state" id="state" class="block min-w-0 w-64 grow py-1.5 pl-2 pr-2 text-base text-gray-900 placeholder:text-purple-800  focus:outline focus:outline-0 sm:text-sm/6  rounded-md bg-fuchsia-300 " placeholder="State" value = "<%= camp.state%>" required>
        </div>
      </div>
      <span class = 'text-red-500 mt-1 pl-2 ' id = 'desc_error'></span>
    </div>

    <div class = 'flex place-items-center'>
      <label class = ' text-purple-200 ' for="country">Country : </label>
      <div class="mt-2 ml-2">
        <div class="flex items-center rounded-md bg-white rounded-md bg-fuchsia-300">
          <input type="text" name="country" id="country" class="block min-w-0 w-64 grow py-1.5 pl-2 pr-3 text-base text-gray-900 placeholder:text-purple-800 sm:text-sm/6 rounded-md bg-fuchsia-300" placeholder="Country" value = "<%= camp.country%>" required>
        </div>
      </div>
    </div>
  </div>
  <span class = 'text-red-500 mt-1 pl-2 ' id = 'country_error'></span>
  <h1></h1>

  <label class = ' text-purple-200 ' for="description">Description : </label>
  <div class="mt-2">
    <div class="flex items-center rounded-md bg-white rounded-md bg-fuchsia-300">
      <textarea type="text" name="description" id="description" class="block min-w-0 grow py-1.5 pl-3 pr-5 text-base text-gray-900 placeholder:text-purple-800 rounded-md bg-fuchsia-300 sm:text-sm/6" placeholder="Description of the Campground" rows='6'  maxlength="1500" title = "Description must not be empty or more than 1500 characters" ><%= camp.description%></textarea>
    </div>
  </div>

  <div class = 'flex mt-3 items-center'>
    <label class = ' text-purple-200 ' for="price">Campground Price </label>
    <div class="mx-2">
      <div class="flex items-center rounded-md bg-white outline-gray-300 bg-fuchsia-300">
        <span class = 'bg-gray-300 px-4 py-1 h-[36px] rounded-l-md bg-fuchsia-300 text-fuchsia-700'>$</span>
        <input type="text" name="price" id="price" class="block min-w-0 w-64 grow py-1.5 pl-1 pr-3 text-base bg-fuchsia-300 rounded-r-md text-gray-900 placeholder:text-purple-800  focus:outline focus:outline-0 sm:text-sm/6 pl-2" placeholder="0.00" value = "<%= camp.price%>" required>
      </div>
    </div>
  </div>
  <span class = 'text-red-500 mt-1 pl-2 ' id = 'price_error'></span>

  <h1></h1>
  <button class = 'my-3 bg-green-300 px-3 py-2 rounded-md border-[1px] border-green-500 hover:bg-green-400' type="submit">Commit Changes</button>
  </form>

</div> 
</div>

</div>
<script src = '/js/image_count.js' type = 'module'> </script>
