<% layout('layouts/boilerplate') %>

<div class = 'min-h-screen bg-gradient-to-bl from-yellow-200 via-purple-200 to-green-200'>
  <div class="overflow-hidden shadow border border-violet-400 ">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-xl leading-6 font-medium text-gray-900">
        User Profile
      </h3>
    </div>
    <div class="border-t border-gray-400 px-4 py-3 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-lg font-medium text-gray-500">
            Username
          </dt>
          <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
            <%= user.username%>
          </dd>
        </div>
        <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-lg font-medium text-gray-500">
            Email address
          </dt>
          <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
            <%= user.email%>
          </dd>
        </div>
      </dl>
    </div>
  </div>


  <h1 class = 'text-3xl m-3 mt-5'>Campgrounds submitted by <%=user.username%></h1>
  <div class = 'mt-5 grid grid-cols-3'>
    <% for (let ground of user.camps) {%>
    <div class = 'mb-3 mx-20 border-[1px] border-gray-200 flex flex-col rounded-lg shadow'>
      <div class = 'w-full bg-gray-100 h-auto'>
        <img class="max-w-full h-auto p-2" src="<%=ground.images[0].url%>" alt="<%=ground.title%>">
      </div>
      <div class = 'w-full ml-2 pb-2'>
        <div class = 'card-body p-2 '>
          <h5 class = 'card-title text-2xl mb-1'><%=ground.title%></h5>
          <p class = 'text-gray-500 mb-1'>Location: <%- `${ground.city}, ${ground.state}`%></p>
          <p class = 'text-gray-500 mb-5'>Created On : <%=ground.createdOn.toDateString()%></p>
          <a class = "bg-blue-500 py-2 px-4 m-2 ml-0 rounded-md border-2 border-blue-600 hover:bg-blue-600 text-white" href="/campgrounds/<%=ground._id%>">View <%=ground.title%></a>
        </div>
      </div>
    </div>
    <%}%>

  </div>

  <div class = 'mt-5'>
    <h1 class = 'text-3xl m-3'>Reviews by <%= user.username%></h1>
    <%for (let review of user.reviews){ if (review.camp) {%>
    <div class = 'm-2 p-2 border-[1px] rounded-md border-gray-300'>
      <div class= 'flex flex-col justify-between'>
        <span class = 'block justify-between flex'>
          <span class = 'author'> On <a href="/campgrounds/<%=review.camp._id%>" class = 'underline text-blue-600'><%=review.camp.title%></a></span>
          <span class = 'stars mr-3'> <%-review.stars%>  </span>
        </span>
      </div>
      <h1><%=review.body%></h1>
    </div>
    <%}}%>


  </div>
</div>
